{% extends 'animals_base.html' %}
{% block content %}
<table>
    <caption>Animals</caption>
    <thead>
        <tr>
            <th>Identification</th>
            <th>Species</th>
            <th>Breed</th>
            <th>Gender</th>
            <th>Category</th>
            <th>Weight (kg)</th>
            <th>Birth</th>
        </tr>
    </thead>
    <tboddy>
        {% for animal in animals %}
        <tr>
            <td>{{ animal.identification }}</td>
            <td>{{ animal.species }}</td>
            <td>{{ animal.breed }}</td>
            <td>{{ animal.gender }}</td>
            <td>{{ animal.category }}</td>
            <td>{{ animal.weight }}</td>
            <td>{{ animal.birth_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}